<% if can? :read, Status%>

<p id="notice"><%= notice %></p>

<h1 class="center">Statuses</h1>
<div class="row">
  <div class="col l12">
    <%= link_to 'New Status', new_status_path, class: 'waves-effect waves-light btn cyan' %>
  </div>
</div>
<div class="card">
  
<table class="striped">
  <thead>
    <tr>
      <th class="center">Status description</th>
      <th class="center">Edit</th>
      <th class="center">Delete</th>
    </tr>
    
      
    
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td class="center"><%= status.status_description %></td>
        <td class="center"><%= link_to 'Editar', edit_status_path(status), class: 'waves-effect waves-light btn green',:style => "color: white !important;"  %></td>
        <td class="center"><%= link_to 'Eliminar', status, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red',:style => "color: white !important;"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

<script type="text/javascript">
    window.location.href="/"
</script>
<% end %> 