<% if can? :read, Department%>
<p id="notice"><%= notice %></p>

<h1 class="center">Departamentos</h1>
    <%= link_to 'Nuevo Departamento', new_department_path, class: 'waves-effect waves-light btn cyan'  %>
<div class="card">
  
<table class="striped">
  <thead>
    <tr class="center">
      <th class="center">Name</th>
      <th class="center">Description</th>
      <th class="center">Editar</th>
      <th class="center">Eliminar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td class="center"><%= department.name %></td>
        <td class="center"><%= department.description %></td>
        <td class="center"><%= link_to 'Editar', edit_department_path(department), class: 'waves-effect waves-light btn green',:style => "color: white !important;" %></td>
        <td class="center"><%= link_to 'Eliminar', department, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' ,:style => "color: white !important;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

<% else %>
<script type="text/javascript">
    window.location.href="/"
</script>
<% end %>
