<p id="notice"><%= notice %></p>

<h1 class="center">Permisos de Roles</h1>
    <%= link_to 'Nuevo Permiso de rol', new_permission_role_path, class: 'waves-effect waves-light btn cyan'  %>
<div class="card">
  
<table class="striped">
  <thead>
    <tr>
      <th class="center">Permission</th>
      <th class="center">Role</th>
      <th class="center">Editar</th>
      <th class="center">Eliminar</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permission_roles.each do |permission_role| %>
      <tr>
        <td class="center"><%= permission_role.permission.description %></td>
        <td class="center"><%= permission_role.role.name %></td>
        <td class="center"><%= link_to 'Editar', edit_permission_role_path(permission_role), class: 'waves-effect waves-light btn green',:style => "color: white !important;"  %></td>
        <td class="center"><%= link_to 'Eliminar', permission_role, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red',:style => "color: white !important;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>


