<% if can? :read, Permission%>
<p id="notice"><%= notice %></p>

<h1 class="center">Permisos</h1>
    <%= link_to 'Nuevo permisos', new_permission_path, class: 'waves-effect waves-light btn cyan' %>
<div class="card">
  
<table class="striped">
  <thead>
    <tr>
      <th class="center">Description</th>
      <th class="center">Editar</th>
      <th class="center">Eliminar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td class="center"><%= permission.description %></td>
        <td class="center"><%= link_to 'Editar', edit_permission_path(permission), class: 'waves-effect waves-light btn green',:style => "color: white !important;" %></td>
        <td class="center"><%= link_to 'Eliminar', permission, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' ,:style => "color: white !important;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<% else %>
<script type="text/javascript">
    window.location.href="/"
</script>
<% end %>



