<div class="card">
  <div class="card hoverable" style="background-color: rgba(255,255,255,.15);" id="card-login">
<%= form_with(model: pqr, local: true) do |form| %>
  <% if pqr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pqr.errors.count, "error") %> prohibited this pqr from being saved:</h2>

      <ul>
      <% pqr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="card-content grey lighten-4">
  <div class="row">
    <div class="field col s12 l12">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="field col s12 l6">
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
    </div>
  <div class="row">
    <div class="field col s12 l6  ">
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
    </div>
    
  </div>  
  </div>
  <div class="row">
      <div class="field col s12 l6">
            <%= form.label :email %>
            <%= form.text_field :email %>
      </div>
        <div class="field col s12 l6">
            <%= form.label :subject %>
            <%= form.text_field :subject %>
        </div>
  </div>
  <div class="row">
    
    <div class="field col s12 l6">
      <%= form.label :description %>
      <%= form.text_area :description%>
    </div>
    <div class="field col s12 l6 ">
      <%= form.label :doc_id %> <br> <br>
      <%= form.file_field :doc_id %>
    </div>

  </div>
    <div class="field col s12 l6" style="display:none;">
      <%= form.label :date %>
      <%= form.date_select :date %>
    </div>

  <div class="field" style="display:none;">
    <%= form.label :response_date %>
    <%= form.date_select :response_date, class:'datepicker' %>
  </div>
  


  </div>
  <div class="actions  card-action center-align">
    <%= form.submit "Enviar",class:'btn btn-large waves-effect waves-light blue darken-3 hoverable pulse ',:style => "color: white !important; " %>
  </div>
<% end %>
</div>
</div>  