<% if can? :read, Pqr%>
<p id="notice"><%= notice %></p>

<h1 class="center">PQRS</h1>
    <%= link_to 'Nuevo Pqr', new_pqr_path, class: 'waves-effect waves-light btn cyan'%>
<div class="card">
  
<table class="striped">
  <thead>
    <tr>
      <th class="center">First name</th>
      <th class="center">Last name</th>
      <th class="center">Email</th>
      <th class="center">Title</th>
      <th class="center">Subject</th>
      <th class="center">Description</th>
      <th class="center">Date</th>
      <th class="center">Response date</th>
      <th class="center">Doc</th>
      <th class="center">Editar</th>
      <th class="center">Eliminar</th>

      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pqrs.each do |pqr| %>
      <tr>
        <td class="center"><%= pqr.first_name %></td>
        <td class="center"><%= pqr.last_name %></td>
        <td class="center"><%= pqr.email %></td>
        <td class="center"><%= pqr.title %></td>
        <td class="center"><%= pqr.subject %></td>
        <td class="center"><%= pqr.description %></td>
        <td class="center"><%= pqr.date %></td>
        <td class="center"><%= pqr.response_date %></td>
        <td class="center"><%= pqr.doc %></td>
        <td class="center"><%= link_to 'Editar', edit_pqr_path(pqr), class: 'waves-effect waves-light btn green',:style => "color: white !important;" %></td>
        <td class="center"><%= link_to 'Eliminar', pqr, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red',:style => "color: white !important;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

<% else %>
<script type="text/javascript">
    window.location.href="/users/sign_up"
</script>
<% end %>


