<% if can? :read, Role %>
<p id="notice"><%= notice %></p>
  
<h1 class="center">Roles</h1>
 <%= link_to 'Nuevo', new_role_path, class: 'waves-effect waves-light btn cyan' %>
<div class="card">

<table class="striped">
  <thead>
    <tr>
      <th class="center">Name</th>
      <th class="center">Description</th>
      <th class="center">Editar</th>
      <th class="center">Eliminar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td class="center"><%= role.name %></td>
        <td class="center"><%= role.description %></td>

        <td class="center"><%= link_to 'Editar', edit_role_path(role), class: 'waves-effect waves-light btn green',:style => "color: white !important;"  %></td>
        <td class="center"><%= link_to 'Eliminar', role, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red',:style => "color: white !important;"  %></td>
      </tr>
    <% end %>
   
  </tbody>
</table>

<br>
</div>
<% else %>
<script type="text/javascript">
    window.location.href="/"
</script>
<% end %>