<p id="notice"><%= notice %></p>

<h1 class="center">Logs</h1>

<table>
  <thead>
    <tr>
      <th class="center">Action</th>
      <th class="center">Date</th>
      <th class="center">Table</th>
      <th class="center">Editar</th>
      <th class="center">Eliminar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td class="center"><%= log.action %></td>
        <td class="center"><%= log.date %></td>
        <td class="center"><%= log.table %></td>
        <td class="center"><%= link_to 'Editar', edit_log_path(log), class: 'waves-effect waves-light btn green' %></td>
        <td class="center"><%= link_to 'Eliminar', log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn red' %></td>
      </tr>
    <% end %>
    <%= link_to 'Nueva Auditoria', new_log_path, class: 'waves-effect waves-light btn cyan' %>
  </tbody>
</table>

<br>


