<% if can? :read, PqrTracking%>
<p id="notice"><%= notice %></p>

<h1 class="center">Pqr Trackings</h1>
    <%= link_to 'Nuevo', new_pqr_tracking_path, class: 'waves-effect waves-light btn cyan' %>
<div class="card">
  
<table class="striped">
  <thead>
    <tr>
      <th class="center">Pqr</th>
      <th class="center">Actual user</th>
      <th class="center">Dest user</th>
      <th class="center">Status</th>
      <th class="center">Department</th>
      <th class="center">Date</th>
      <th class="center">Review</th>
      <th class="center">Response</th>
      <th class="center">Editar</th>
      <th class="center">Eliminar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pqr_trackings.each do |pqr_tracking| %>
      <tr>
        <td><%= pqr_tracking.pqr.id %></td>
        <td class="center"><%= pqr_tracking.actual_user.first_name %></td>
        <td class="center"><%= pqr_tracking.dest_user.first_name %></td>
        <td class="center"><%= pqr_tracking.status.status_description %></td>
        <td class="center"><%= pqr_tracking.department.name %></td>
        <td class="center"><%= pqr_tracking.date %></td>
        <td class="center"><%= pqr_tracking.review %></td>
        <td class="center"><%= pqr_tracking.response %></td>
        <td class="center"><%= link_to 'Editar', edit_pqr_tracking_path(pqr_tracking),  class: 'waves-effect waves-light btn green',:style => "color: white !important;"  %></td>
        <td class="center"><%= link_to 'Eliminar', pqr_tracking, method: :delete, data: { confirm: 'Are you sure?' },  class: 'waves-effect waves-light btn red' ,:style => "color: white !important;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
<% else %>
<script type="text/javascript">
    window.location.href="/"
</script>
<% end %>



